/* BASE STYLES */
:root {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

main {
  background-color: #d5e1ef;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CARD STYLES */

.card {
  max-width: 320px;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 16px 16px 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card img {
  border-radius: 20px;
  margin-bottom: 19px;
}

.card h2 {
  color: #1f314f;
  font-size: 22px;
  margin-bottom: 16px;
}

.card p {
  color: #7d889e;
  padding: 0 16px;
}
